



<!--____________________________FOOTER DOMINIKA __________________________________________________________________-->

<footer>
<div class="container">
    <div class="container" >
    <div class="row paddingauto">
        <div class=" col-12 col-md-6 col-xl-3">
            <div class="bottom_title">
                <h5> À PROPOS DU BONCOIN </h5>
            </div>
            <div class="links_footer">
                <a href="{{ path('app_en_construction')}}"> Qui sommes nous ? </a>
                <a href="{{ path('app_en_construction')}}"> Nous rejoindre </a>
                <a href="{{ path('app_en_construction')}}"> Nos engagements </a>
                <a href="{{ path('app_en_construction')}}"> L’avenir a du bon </a>
                <a href="{{ path('app_en_construction')}}"> Le bon observatoire </a>
                <a href="{{ path('app_en_construction')}}"> Espace presse </a>
            </div>
        </div>

        <div class=" col-12 col-md-6 col-xl-3">
            <div class="bottom_title">
                <h5> INFORMATION LÉGALES </h5>
            </div>
            <div class="links_footer">
                <a href="{{ path('app_en_construction')}}"> Conditions générales d'utilisation </a>
                <a href="{{ path('app_en_construction')}}"> Référencement et classement des annonces </a>
                <a href="{{ path('app_en_construction')}}"> Conditions générales de vente </a>
                <a href="{{ path('app_en_construction')}}"> Vie privée / cookies </a>
                <a href="{{ path('app_en_construction')}}"> Vos droits et obligations </a>
                <a href="{{ path('app_en_construction')}}"> Avis aux utilisateurs </a>
                <a href="{{ path('app_en_construction')}}"> Charte de bonne conduite </a>
                <a href="{{ path('app_en_construction')}}"> Paiement en plusieurs fois </a>
                <a href="{{ path('app_en_construction')}}"> Accessibilité </a>
            </div>
        </div>

        <div class=" col-12 col-md-6 col-xl-3">
            <div class="bottom_title">
                <h5> NOS SOLUTIONS PROS </h5>
            </div>
            <div class="links_footer">
                <a href="{{ path('app_en_construction')}}"> Publicité </a>
                <a href="{{ path('app_en_construction')}}"> Professionnels de l'immobilier </a>
                <a href="{{ path('app_en_construction')}}"> Vos recrutements </a>
                <a href="{{ path('app_en_construction')}}"> Professionnels de l'auto </a>
                <a href="{{ path('app_en_construction')}}"> Professionnels du tourisme </a>
                <a href="{{ path('app_en_construction')}}"> Autres solutions professionnelles </a>
                <a href="{{ path('app_en_construction')}}"> Annuaire des professionnels </a>
                <a href="{{ path('app_en_construction')}}"> Dépôt gratuit d'emploi pour les TPE </a>
            </div>
        </div>

        <div class=" col-12 col-md-6 col-xl-3">
            <div class="bottom_title">
                <h5> DES QUESTIONS ? </h5>
            </div>
            <div class="links_footer">
                <a href="{{ path('app_en_construction')}}"> Aide </a>
                <a href="{{ path('app_en_construction')}}"> Le service de paiement sécurisé et la livraison </a>
                <a href="{{ path('app_en_construction')}}"> Le porte monnaie </a>
                <a href="{{ path('app_en_construction')}}"> Le service de réservation de vacances en ligne pour les hôtes </a>
                <a href="{{ path('app_en_construction')}}"> Votre dossier de localisation en ligne </a>
                <a href="{{ path('app_en_construction')}}"> Statut de nos services </a>
            </div>
        </div>
    </div>

    <div class="row paddingauto">
        <div class="text-center col-6 bottom_title mb-2"> 
            <h5 class="applipadding"> NOS APPLICATIONS </h5>
                <img src="/assets/img/appstore.png" alt="appstore">
                <img src="/assets/img/googleplay.png" alt="googleplay">
        </div>

        <div class="text-center col-6 bottom_title"> 
            <h5 class="reseauxpadding"> RETROUVEZ-NOUS SUR </h5>
                <div class="d-flex justify-content-center">
                    <div class="mx-2">
                        <a href="https://www.linkedin.com/authwall?trk=qf&original_referer=https://www.google.com/&sessionRedirect=https%3A%2F%2Ffr.linkedin.com%2F"><img src="/assets/icones/rs_livraison/linkedin.svg" alt="linkedin"></a>
                    </div>
                    <div class="mx-2">
                        <a href="https://twitter.com/i/flow/login?redirect_after_login=%2F%3Flang%3Dfr"><img src="/assets/icones/rs_livraison/twitter.svg" alt="twitter"></a>
                    </div>
                    <div class="mx-2">
                        <a href="https://www.instagram.com/leboncoin/?hl=fr"><img src="/assets/icones/rs_livraison/instagram.svg" alt="instagram"></a>
                    </div>
                    <div class="mx-2">
                        <a href="https://www.pinterest.fr/leboncoin/"><img src="/assets/icones/rs_livraison/pinterest.svg" alt="pinterest"></a>
                    </div>            
                </div>
        </div>
    </div>

    <div class="row paddingauto">
        <div class="flex_footer col-12"> 
            <div class="foot">
                <span class="align-middle h5 mb-0"> Excellent </span>
            </div>
            <div class="stars">
                <img  src="/assets/icones/etoile/etoile_pleine_noir.svg" alt="full_star"> 
                <img  src="/assets/icones/etoile/etoile_pleine_noir.svg" alt="full_star">
                <img  src="/assets/icones/etoile/etoile_pleine_noir.svg" alt="full_star">
                <img  src="/assets/icones/etoile/etoile_pleine_noir.svg" alt="full_star">
                <img  src="/assets/icones/etoile/etoile_pleine_noir.svg" alt="full_star">
            </div>
            <div class="foot">
                <span class="align-middle h5 mb-0"> 83801 avis sur </span>
            </div>
            <div>
                <img width="103.802px" height="25.509px" src="/assets/icones/rs_livraison/trustpilot.svg" alt="trustpilot">
            </div>
        
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <p class="lastp"> leboncoin : AVendreALouer . leboncoin immobilier neuf . L’argus . Agriaffaires . Machineryzone . Truckscorner . Locasun . Locasun-vp . Videdressing . Ledénicheur .Younited Credit</p>
    </div>
    <div class="bottom_title">
        <p class="text-center mt-4">leboncoin 2006 - 2023</p>
    </div>

    </div>
    </div>
</footer>