{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Recherche par sous-catégorie{% endblock %}

{% block body %}

<main>

    <section class="container">

<!-- FIL D'ARIANE --> 
        <div class="flex sub_cat mt-4">
            <img src="/assets/icones/marteau/marteau_black_M.svg" alt="marteau_noir">
            <span class="h_one_sub_cat ms-3">{{ auctions.category }} > {{ auctions.subcategory }}</span>
        </div>
<!-- FIL D'ARIANE -->


 <!-- ***** PRODUITS SUB CAT *****  -->
        <div class="row row_sub_cat row_one my-4">
        {% for auction in auctions.auctions %}
            {% if loop.index <= 6 %}
                <a class="col-3 mx-3 cardlink" href="{{ path('app_auction_detail', {'id': auction.id}) }}">
                    <div class="cardlbc my-3">
                        {% if auction.pictures is empty %}
                            <div class="card-img-top cardimglbc"></div>
                        {% else %}
                            <div class="card-img-top cardimglbc">
                                <img src="/uploads/pictures/{{ auction.pictures[0] }}" class="img_card_auction_search" alt="image de l'enchère">
                            </div>
                        {% endif %}

                        <div class="card-body-subcat mt-2 d-flex flex-column justify-content-between">
                        
                            {# Limiter l'affichage du titre sur 25 caractères max #}
                            <span class="cat-card-title myb-1">{{ auction.title|length > 25 ? auction.title|slice(0, 25) ~ '...' : auction.title }}</span>
                            <span class="card-subtitle mb-1">OFFRE ACTUELLE</span>
                            <span class="cat-card-title mb-1"> {{ auction.startPrice }}&nbsp;€</span>
                            {# Limiter l'affichage du titre sur 60 caractères max #}
                            <span class="card-subtitle mb-1">{{ auction.description|length > 60 ? auction.description|slice(0, 60) ~ '...' : auction.description }}</span>
                            <span class="card-subtitle-orange mb-1">IL RESTE {{ auction.duration }}</span>
                            <div class="d-flex flex-row justify-content-end pb-2">
                                <div class="d-flex col-10">
                                    <div class="d-flex justify-content-center me-2">
                                        <img src="/assets/icones/localisation/localisation_small_noir.svg" alt="localisation">
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="localisation-card">{{ auction.localisation }}</span>
                                    </div>
                                </div>
                                <div class="col-2 text-end">
                                    <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </section>

<!-- ***** PRODUITS SUB CAT /VENTES ENCHERES A VENIR *****  -->

{#
        <section class="container">

            <div class="flex ventes_venir">
                <img src="/assets/icones/marteau/marteau_orange_L.svg" alt="marteauorange">
                <h1 class="ve_venir_title">Ventes enchères à venir</h1>
            </div>
            
            <!-- SLIDER  -->

            <div class="card">
                <div class="flex">
                    <img class="img_card_ve_venir" src="/assets/img/picture_test.png" alt="picture_test">
                    <div class="row inside_card_venir">
                        <h7 id="text_card_ve_venir"> MacBook 13"inch</h7>
                        <h7 id="text_card_ve_venir"> MARDI  08/08</h7>
                        <h7 id="text_card_ve_venir"> 14:00</h7>
                        <div class="flex btn_heart_ve_venir">
                            <div><a href="#" class="bouton bouton_orange boutonS">Voir le produit</a></div>
                            <img src="/assets/icones/coeurs/coeur_orange_vide.svg" alt="coeur_orange_vide">
                        </div>
                    </div>
                </div>
            
            </div>

        </section>
#}
  

    <section class="container my-4">

        <div class="flex ventes_venir mt-5 mb-2 justify-content-center">
            <img src="/assets/icones/marteau/marteau_orange_L.svg" alt="marteauorange">
            <h1 class="ve_venir_title ms-3">Ventes enchères à venir</h1>
        </div>

    </section>
<!-- SLIDER -->
    <section class="container my-4">
                <!-- Slider main container -->
            <div class="swiper mySwiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                    

                {% for auction in auctions.auctions %}
                    <div class="swiper-slide mx-5 row" href="{{ path('app_auction_detail', {'id': auction.id}) }}">
                            <div class="col-6 card_slid_subcat">
                                {% if auction.pictures is empty %}
                                        <img src="/assets/img/leboncoin_1.png" class="slider_subcat_img" alt="image de l'enchère">
                                {% else %}
                                        <img src="/uploads/pictures/{{ auction.pictures[0] }}" class=" slider_subcat_img" alt="image de l'enchère">
                                {% endif %}
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-around">
                                    <div>
                                        <div><p class="cat-card-title myb-1">{{ auction.title }}</p></div>
                                        <div><p class="cat-card-title mb-1 fw-bold"> {{ auction.startPrice }}&nbsp;€ </p></div>
                                        <div><p class="cat-card-title mb-1 fw-light">{{ auction.startDate |date('d-m-Y')}}</p></div>
                                    </div>
                                    <div class="row justify-content-around">
                                        <div class="col-10">
                                            <button class="bouton bouton_orange boutonXS">
                                                <a class="col-3 m-3 cardlink" href="{{ path('app_auction_detail', {'id': auction.id}) }}">
                                                    Voir le produit
                                                </a>
                                            </button>
                                        </div>
                                        <div class="col-2 p-1">
                                            <img src="/assets/icones/coeurs/coeur_orange_vide.svg" alt="coeur">
                                        </div>
                                    </div>
                            </div>
                    </div>
                {% endfor %}        

                   
                </div>
            </div>            
     </section>
<!-- /SLIDER -->





<!-- ***** PRODUITS SUB CAT /SUGGESTIONS*****  

        <section class="container">

            <h1 class="title_sub_cat">Suggestions</h1>

            <div class="row row_sub_cat row_one">
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                            <h5 class="card-title-sub-cat">Title</h5>
                            <h6 class="card_offre_sub_cat">OFFRE ACTUELLE</h6>
                            <h5 class="card-title-sub-cat"> PRICE</h5>
                            <p class="description_sub_cat">Description du produit Description du produit Description du produit Description du produit Description du produit</p>
                            <p class="time">IL RESTE 2h</p>
                            <div class="flex local_heart">
                                <div class="flex local_heart_two">
                                    <img src="/assets/icones/localisation/localisation_small_noir.svg" alt="localisation">
                                    <p class="localisation">Paris 15eme</p>
                                </div>
                                <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                            <h5 class="card-title-sub-cat">Title</h5>
                            <h6 class="card_offre_sub_cat">OFFRE ACTUELLE</h6>
                            <h5 class="card-title-sub-cat"> PRICE</h5>
                            <p class="description_sub_cat">Description du produit Description du produit Description du produit Description du produit Description du produit</p>
                            <p class="time">IL RESTE 2h</p>
                            <div class="flex local_heart">
                                <div class="flex local_heart_two">
                                    <img src="/assets/icones/localisation/localisation_small_noir.svg" alt="localisation">
                                    <p class="localisation">Paris 15eme</p>
                                </div>
                                <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                            <h5 class="card-title-sub-cat">Title</h5>
                            <h6 class="card_offre_sub_cat">OFFRE ACTUELLE</h6>
                            <h5 class="card-title-sub-cat"> PRICE</h5>
                            <p class="description_sub_cat">Description du produit Description du produit Description du produit Description du produit Description du produit</p>
                            <p class="time">IL RESTE 2h</p>
                            <div class="flex local_heart">
                                <div class="flex local_heart_two">
                                    <img src="assets/icones/localisation/localisation_small_noir.svg" alt="localisation">
                                    <p class="localisation">Paris 15eme</p>
                                </div>
                                <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-img-top cardimgbg"> </div>
                        <div class="card-body">
                            <h5 class="card-title-sub-cat">Title</h5>
                            <h6 class="card_offre_sub_cat">OFFRE ACTUELLE</h6>
                            <h5 class="card-title-sub-cat"> PRICE</h5>
                            <p class="description_sub_cat">Description du produit Description du produit Description du produit Description du produit Description du produit</p>
                            <p class="time">IL RESTE 2h</p>
                            <div class="flex local_heart">
                                <div class="flex local_heart_two">
                                    <img src="/assets/icones/localisation/localisation_small_noir.svg" alt="localisation">
                                    <p class="localisation">Paris 15eme</p>
                                </div>
                                <img src="/assets/icones/coeurs/coeur_vide_gris.svg" alt="coeur">
                            </div>
                        </div>
                    </div>
                </div>

               


            </div>

        </section>

 ***** PRODUITS SUB CAT /AVIS ***** 

        <section class="container">

            <h1 class="title_sub_cat">Avis</h1>

            <div class="card-body-avis">
                    <h5 class="text_avis">Prenom</h5>
                    <p class="text_avis">Je suis fan !
                    Tout se passe bien, en général. Contact avec le vendeur facile et rapide, payement via l’application sans soucis. Je recommande.
                    </p>
                    <div class="flex text_avis_ver_date">
                        <p id="text_avi_ver">Avis verifiée</p>
                        <p class="text_avis"> 27/07/2022</p>
                    </div>

                </div>
              </div>
            
        

        </section>
   -->

    </main>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>               
    <script src="/assets/js/script.js"></script>

{% endblock %}