{% extends 'base.html.twig' %}

{% block title %}Détail de l'enchère{% endblock %}

{% block body %}

    <main>


        <article>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item"><a href="#">Multimédia</a></li>
                                <li class="breadcrumb-item"><a href="#">Smartphone</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Iphone 13</li>
                            </ol>
                        </nav>
            <!-- catalogue de photos -->
                <div class="row my-5">

                            {% if dauction.getPictures|length > 0 %}
                                {% for picturePath in dauction.getPictures %}
                                <div class="col-5 img_auction m-2 p-0">
                                    <img src="{{ asset('uploads/pictures/' ~ picturePath) }}" class="cropped3 m-2" alt="Photo de l'enchère">
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-5 card-img-lbc_detail m-2">
                                    <p>Aucune image disponible</p>
                                </div>
                            {% endif %}
                        
                        <div class="col-6 voir_plus">
                            <a href="#">
                                <img src="/assets/icones/fleches/fleche_voirplus.svg" alt="fleche voir plus">
                                <p>Voir plus</p>   
                            </a>
                        </div>
                </div>
            <!-- catalogue de photos -->





                        <div class="">
                            <div class="d-flex">
                                <div>
                                    <h1>{{ dauction.title }}</h1>
                                </div>
                                <div>
                                    <p>État:</p>
                                </div>
                                <div>
                                    <p> Très bon</p>
                                </div>
                            </div>
                            <div>
                                <p>Annonce publiée le: xxxxxxx</p>
                            </div>
                        </div>

                        <hr>

                        <div>
                            <h2 class="mb-3">Description</h2>
                            <div>
                                <p>{{ dauction.description }}</p>
                            </div>
                        </div>

                        <hr> <!--   CRITERES  -->

                        <div>
                            <h2 class="mb-3">Critères</h2>
                                <div class="d-flex flex-row">
                                    <div class="col-4 d-flex flex-column">
                                        <div class="d-flex mb-5">
                                            <img src="/assets/icones/criteres/critere_etat.svg" class="me-2" alt="etat">
                                            <span>État: Très bon état</span>
                                        </div>
                                        <div class="d-flex mb-1">
                                            <img src="/assets/icones/criteres/criteres_couleur.svg" class="me-2" alt="Couleur">
                                            <span>Couleur: Noir</span>
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex flex-column mb-4">
                                        <div class="d-flex mb-5">
                                            <img src="/assets/icones/criteres/critere_marque.svg" class="me-2" alt="marque">
                                            <span>Marque: Apple</span>
                                        </div>

                                        <div class="d-flex mb-1">
                                            <img src="/assets/icones/criteres/criteres_stockage.svg" class="me-2" alt="Stockage">
                                            <span>Stockage: 128 GO</span>
                                        </div>

                                    </div>

                                    <div class="col-4 d-flex flex-column mb-4">
                                        <div class="d-flex mb-5">
                                            <img src="/assets/icones/criteres/critere_marque.svg" class="me-2" alt="Modèle">
                                            <span>Modèle: Iphone 13</span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                        <hr> <!--  REMIS EN MAIN PROPRE -->

                        <div>
                            <h2 class="mb-3">Remise en main propre avec paiement sécurisé</h2>
                            <div class="d-flex flex-row align-content-between">
                                <div class="d-flex flex-column align-items-center">
                                    <img src="/assets/icones/badge_certif/badge_certif_euro.svg" class="icon_liv mx-2" alt="badge_certif">
                                    <img src="/assets/icones/information/smiley.svg" class="icon_liv2 mx-2" alt="smiley">
                                </div>

                                <div class="d-flex flex-column">
                                    <span class="mx-5 my-1">Restez libre de refuser ce bien s’il ne correspond pas à vos attentes</span>
                                    <span class="mx-5 my-2">Réservez ce bien jusqu’au rendez-vous avec le vendeur</span>
                                </div>
                            </div>
                            <div class="mt-3 mb-5">
                                <a href="#" class="link-liv" >Comment ça marche ?</a>
                            </div>
                        </div>

                        <hr> <!--  MODE DE LIVRAISON -->

                        <div>

                            <h2 class="mb-3">Livraison : {{ dauction.deliveryMode }}</h2>
                            <p>Recevez ce bien à domicile ou a deux pas de chez vous</p>
                            
                            <div class="d-flex flex-row">
                            
                                    <div class="d-flex flex-column align-items-center mx-3 me-5">
                                        <div class="d-flex flex-row mb-3">
                                            <div>
                                                <span class="fw-bolder me-2">Mondial Relay</span>
                                            </div>
                                            <div>
                                                <img src="/assets/icones/rs_livraison/mondialrelay.svg" alt="logo Mondial Replay">
                                            </div>
                                        </div>
                                        <span class="subtitle">En point Mondial Relay</span> 
                                        <span class="subtitle mb-3">sous 3-5 jours</span>
                                    </div>

                                    <div class="d-flex flex-column align-items-center mx-3">
                                        <div class="d-flex flex-row mb-3">
                                            <div>
                                                <span class="fw-bolder me-2">Chronopost</span>
                                            </div>
                                            <div>
                                                <img src="/assets/icones/rs_livraison/chronopost.svg" alt="logo Chronopost">
                                            </div>
                                        </div>
                                        <span class="subtitle">En point Pickup</span> 
                                        <span class="subtitle mb-3">sous 3-5 jours</span>
                                    </div>
                            </div>

                        </div>

                        <hr> <!--  PROTECTIONS -->

                        <div class="mb-5">
                            <h2 class="mb-3">Protection leboncoin</h2>
                            <div class="d-flex flex-row align-content-between">
                                <div class="d-flex flex-column align-items-center">
                                    <img src="/assets/icones/badge_certif/badge_certifie_noir.svg" class="icon_liv mx-2" alt="badge_certif">
                                    <img src="/assets/icones/information/team.svg" class="icon_liv2 mx-2" alt="icone team">
                                </div>

                                <div class="d-flex flex-column">
                                    <span class="mx-5 my-1">Votre argent est sécurisé jusqu’à la confirmation de récupération de l’article</span>
                                    <span class="mx-5 my-2">Une équipe dédiée à votre service</span>
                                </div>
                            </div>
                            <div class="mt-3 mb-5">
                                <a href="#" class="link-liv">Plus d’informations sur le paiement sécurisé</a>
                            </div>
                        </div>

                        <hr> <!--  MAPS  -->

                        <div>
                            <div class="d-flex">
                                <img src="assets/icones/localisation/localisation_noir.svg" alt="">
                                <h3>
                                    Moulins
                                    <span>(03000)</span>
                                </h3>
                            </div>
                            <div id="map" class="">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33331.95175492223!2d3.3089362651047494!3d46.555986152583635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f11c3130b4dc93%3A0x4093cafcbebbfa0!2s03000%20Moulins!5e0!3m2!1sfr!2sfr!4v1689598072679!5m2!1sfr!2sfr"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>

                    </div>

                    <aside class="col-12 col-md-4">
                        <div class="card_border_top profil">
                            <img src="assets/icones/profil/profil_cercle_certif.svg" alt="photo de profil">
                            <div>
                                <h2>Antoine</h2>
                                <p>
                                    7 annonces
                                </p>
                                <div class="row tps_restant">
                                    <div class="col-2">
                                        <img src="assets/icones/timer/chrono_noir.svg" alt="timer">
                                    </div>
                                    <div class="col-10 d-flex align-center sixh">
                                        <p class="rep_gen">
                                            Répond généralement dans les 6 heures
                                        </p>
                                    </div>
                                </div>
                                <div class="m-3">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/etoile_orange.svg" alt="Étoiles">
                                    <img src="assets/icones/etoile/demi_etoile_orange.svg" alt="Étoiles">
                                </div>

                            </div>


                            <div class="m-2">
                                <a class="bouton bouton_orangeoutline boutonS" href="#">Message</a>
                            </div>


                            <div class="detail_vend">
                                <a href="#">Détails vendeur</a>
                            </div>

                        </div>
                        <div class="card_border enchères">

                            <div class="d-flex">
                                <img src="assets/icones/marteau/marteau_orange_small copie.svg" alt="icon enchères">
                                <p>La vente se termine dans 00:30 minutes</p>
                            </div>
                            <div>
                                <h2>
                                    Enchères actuelle :
                                </h2>
                                <h3>
                                    {{ CurrentValue}}€
                                </h3>
                            </div>

                            <form method="POST">

                                <div>
                                    <p>Votre offre :</p>
                                    <div class="input-group">
                                        <input name="offre" type="text" class="form-control"
                                            aria-label="Dollar amount (with dot and two decimal places)">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            M’alerter en cas de nouvelle enchère
                                        </label>
                                    </div>
                                </div>

                                <div>
                                <input class="bouton bouton_orange boutonS" type="submit" value="Valider">
                                        
                                    
                                </div>

                            </form>


                        </div>

                    </aside>
                </div>
            </div>


        </article>



        <section class="container">

            <div class="col-12 col-md-8">
                <hr>
                <div>
                    <div>
                        <a href="#">
                            <img src="assets/icones/profil/profil_cercle_certif.svg" alt="avatar de l’utilisateur">
                        </a>
                    </div>
                    <div class="d-flex">
                        <div>
                            <h2><a href="#">Anthony</a></h2>
                            <a href="#">
                                <p>29 annonces</p>
                            </a>
                        </div>
                        <div>
                            <button class="bouton bouton_orange boutonS">Suivre</button>
                        </div>
                    </div>
                    <div>
                        <h3>
                            Membre depuis janvier 2023
                        </h3>
                        <div class="d-flex">
                            <img src="assets/icones/timer/chrono_noir.svg" alt="chrono noir">
                            <p>
                                Répond généralement dans les 6 heures
                            </p>
                        </div>
                        <a href="#">Voir les annonces d'Antoine</a>

                        <div class="d-flex">
                            <div class="d-flex">
                                <img src="assets/icones/information/drapeau.svg" alt="drapeau signaler">
                                <p>Signaler l'annonce</p>
                            </div>
                            <div class="d-flex">
                                <img src="assets/icones/information/information.svg" alt="icone information">
                                <p>Vos droits et obligations</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>
            </div>

        </section>

    </main>


{% endblock %}