{# templates/auction/detail.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Details des Enchères</h1>

    
        
        <ul>
           {% for detail in dauction %}

                 <li>  {{ detail.id }}  </li>
                 <li> {{ detail.title }}  </li>
                 <li> {{ detail.category }}  </li>
                 <li> {{ detail.description }}  </li>
                 <li> {{ detail.video }}  </li>
            {% endfor %}
        </ul>

{% endblock %}
