

{% extends 'base.html.twig' %}

{% block title %}Liste des enchères{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-4">Liste des enchères</h1>

        {% if auctions is empty %}
            <p>Aucune enchère disponible pour le moment.</p>
        {% else %}
            <div class="row">
                {% for auction in auctions %}
                    <div class="col-md-6">
                        <div class="card mb-4 bg-orange text-black">
                            <div class="card-body">
                                <h2 class="card-title">{{ auction.getTitle() }}</h2>
                                <p class="card-text">Description : {{ auction.getDescription() }}</p>
                                <p class="card-text">Prix de départ : {{ auction.getStartPrice() }} €</p>
                                <p class="card-text">Catégorie : {{ auction.getCategory() }}</p>
                                <p class="card-text">Date de début : {{ auction.getStartDate()|date('Y-m-d H:i:s') }}</p>
                                <p class="card-text">Durée : {{ auction.getDuration() }} jours</p>
                                <p class="card-text">Sous-catégorie : {{ auction.getSubCategory() }}</p>
                                <p class="card-text">Prix de réserve : {{ auction.getReservePrice() }} €</p>
                                <p class="card-text">Prix de vente : {{ auction.getSoldPrice() }} €</p>
                                <p class="card-text">Mode de livraison : {{ auction.getDeliveryMode() }}</p>
                                <p class="card-text">Localisation : {{ auction.getLocalisation() }}</p>
                                <p class="card-text">Vendeur ID : {{ auction.getSellerId() }}</p>
                                <p class="card-text">Acheteur ID : {{ auction.getBuyerId() }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
