{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Nouvelle enchère{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .hidden-label {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-4">Nouvelle enchère</h1>


        {% if form.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in form.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
        {% endif %}




        
        <form method="post" action="{{ path('app_auction_new_auction') }}" enctype="multipart/form-data">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description , {'attr': {'class': 'form-control'}}) }}
                    </div>

                    {#  <div class="form-group">
                        {{ form_label(form.subcategory) }}
                        {{ form_widget(form.subcategory , {'attr': {'class': 'form-control'}}) }}
                    </div> #}

                     <div class="form-group">
                        {{ form_label(form.start_price) }}
                        {{ form_widget(form.start_price  , {'attr': {'class': 'form-control'}}) }}
                    </div>

                     {# <div class="form-group">
                        {{ form_label(form.sold_price) }}
                        {{ form_widget(form.sold_price , {'attr': {'class': 'form-control'}}) }}
                    </div> #}

                     <div class="form-group">
                        {{ form_label(form.reserve_price) }}
                        {{ form_widget(form.reserve_price , {'attr': {'class': 'form-control'}}) }}
                    </div>

                     <div class="form-group">
                        {{ form_label(form.start_date) }}
                        {{ form_widget(form.start_date  , {'attr': {'class': 'form-control'}}) }}
                    </div>

                     <div class="form-group">
                        {{ form_label(form.duration) }}
                        {{ form_widget(form.duration  , {'attr': {'class': 'form-control'}}) }}
                    </div>

                     <div class="form-group">
                        {{ form_label(form.delivery_mode) }}
                        {{ form_widget(form.delivery_mode , {'attr': {'class': 'form-control'}}) }}
                    </div>

                     <div class="form-group">
                        {{ form_label(form.pictures) }}
                        {{ form_row(form.pictures, {'attr': {'class': 'form-control'}}) }}
                    </div>


                     <div class="form-group">
                        {{ form_label(form.video) }}
                        {{ form_widget(form.video , {'attr': {'class': 'form-control'}}) }}
                    </div>

                     <div class="form-group">
                        {{ form_label(form.localisation) }}
                        {{ form_widget(form.localisation , {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <!--<div class="form-group">
                        {#{{ form_label(form.seller_id, null, {'label_attr': {'class': 'hidden-label'}}) }}
                        {{ form_row(form.seller_id, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.buyer_id, null, {'label_attr': {'class': 'hidden-label'}}) }}
                        {{ form_row(form.buyer_id, {'attr': {'class': 'form-control'}}) }}#}
                    </div>

                    <!-- En ajoutant cette ligne dans le formulaire, vous vous assurez que le jeton CSRF est inclus dans le formulaire
                         lorsqu'il est soumis. Cela garantit la sécurité de votre application en protégeant contre les attaques CSRF.  -->
                    {{ form_row(form._token) }}

                    <!-- Ajoutez ici les autres champs du formulaire -->
                </div>
            </div>
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

            {# <button type="submit" class="btn btn-primary">Créer l'enchère</button> #}
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}



