{% extends 'base.html.twig' %}

{% block title %}Lebon<code> | Récapitulatif de l'enchère{% endblock %}

{% block body %}

    <div class="container text-center">
        <p class="choicebold choicesize">Merci {{ seller.username }} de votre confiance</p>
        <p class="choicebold">Votre annonce est publiée !</p>
        <p class="choicebold">Récapitulatif</p>

        {% if auction.getPictures|length > 0 %}
        {% for picturePath in auction.getPictures %}
            <img src="{{ asset('uploads/pictures/' ~ picturePath) }}" width="20%" class="recapic" alt="Photo de l'enchère">
        {% endfor %}
        {% else %}
            <p class="choicebold">Aucune image disponible</p>
        {% endif %}
        <p class="choicebold">{{ auction.title }}</p>
        <p class="choicebold">{{ auction.startPrice }} €</p>
        {#  <p class="">Mode de livraison : {{ auction.deliveryMode }}</p> #}
        <div class="choiceflex">
        <img src="/assets/illustrations/confirmation.png" alt="illustration confirmation"  width="20%">
        <a href="{{path('app_home')}}" class="btnrecap">Retour à l'acceuil</a>
        </div>
                    
    </div>

{% endblock %}


